<%= form_with(model: user_profile, url: user_profiles_path, html: { class: 'devise-form' }) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :first_name, class: 'form-control first-field', placeholder: true %>
  <%= form.text_field :last_name,  class: 'form-control inner-field', placeholder: true %>
  <%= form.date_field :birthday,   class: 'form-control inner-field', placeholder: true %>
  <%= form.text_field :username,   class: 'form-control inner-field', placeholder: true %>
  <%= form.text_field :bio,        class: 'form-control last-field',  placeholder: true %>
  <%= form.button :Submit,         class: 'btn btn-primary btn-block' %>
<% end %>
